<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91191784057-hk635hi1gj7hibntkck5aq8k8f0q1etr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91191784057-hk635hi1gj7hibntkck5aq8k8f0q1etr</string>
	<key>API_KEY</key>
	<string>AIzaSyAhjskcQ69dYP-HpQo_DCfxK5zQhAGCNbg</string>
	<key>GCM_SENDER_ID</key>
	<string>91191784057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Rich-St-Onge.Printing-Log-3D</string>
	<key>PROJECT_ID</key>
	<string>printing-log-db2</string>
	<key>STORAGE_BUCKET</key>
	<string>printing-log-db2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91191784057:ios:07454f751209cb044d9aa8</string>
</dict>
</plist>